# Supabase 配置
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# Edge Function 直连数据库（用于 create-vector-index）
SUPABASE_DB_URL=

# Resend邮件配置
ADMIN_SECRET=
RESEND_API_KEY=
RESEND_FROM=

# Github Actions（定时器）（自定义）
CRON_SECRET=

# 内部 API 签名（自定义）
INTERNAL_API_SECRET=

# MCP 服务配置（自定义）
MCP_API_KEY=

# AI 知识库
QWEN_RERANK_API_KEY=
QWEN_RERANK_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
QWEN_RERANK_MODEL_ID="qwen3-rerank"

QWEN_EMBEDDING_API_KEY=
QWEN_EMBEDDING_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/embeddings
QWEN_EMBEDDING_MODEL_ID="text-embedding-v4"
VECTOR_SEARCH_ENABLED=false

# Dify 工作流：附件上传/搜索
DIFY_API_KEY=
DIFY_API_URL=https://api.dify.ai/v1

# AI API - NVIDIA (英伟达)
NVIDIA_API_KEY=
NVIDIA_API_URL=https://integrate.api.nvidia.com/v1/chat/completions
NVIDIA_MODEL_ID=["z-ai/glm4.7","moonshotai/kimi-k2.5"]
NVIDIA_MODEL_NAME=["GLM-4.7","Kimi K2.5"]

# AI API - DeepSeek (轨迹流动)
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.siliconflow.cn/v1/chat/completions
DEEPSEEK_MODEL_ID="deepseek-ai/DeepSeek-V3.2"
DEEPSEEK_MODEL_NAME="DeepSeek V3.2"
# AI API - DeepSeek (官方)
DEEPSEEK_PRO_API_KEY=
DEEPSEEK_PRO_API_URL=https://api.deepseek.com/chat/completions
DEEPSEEK_PRO_MODEL_ID=["deepseek-chat","deepseek-reasoner"]
DEEPSEEK_PRO_MODEL_NAME=["DeepSeek Pro","DeepSeek Pro Reasoner"]

# AI API - GLM-4.6 (硅基流动闲鱼)
GLM_API_KEY=
GLM_API_URL=https://api.siliconflow.cn/v1/chat/completions
GLM_MODEL_ID=zai-org/GLM-4.6
GLM_MODEL_NAME="GLM-4.6"
# AI API - GLM-4.7 (硅基流动自费)
GLM_PRO_API_KEY=
GLM_PRO_API_URL=https://api.siliconflow.cn/v1/chat/completions
GLM_PRO_MODEL_ID="Pro/zai-org/GLM-4.7"
GLM_PRO_MODEL_NAME="GLM-4.7"

# AI API - Gemini (Google)
GEMINI_API_KEY=
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta
GEMINI_MODEL_ID="gemini-3-flash-preview"
GEMINI_MODEL_NAME="Gemini 3"
# AI API - Gemini (闲鱼)
GEMINI_PRO_API_KEY=
GEMINI_PRO_API_URL=https://api2.qiandao.mom/v1/chat/completions
GEMINI_PRO_MODEL_ID=["gemini-3-pro-preview-h","gemini-2.5-pro-preview-p"]
GEMINI_PRO_MODEL_NAME=["Gemini 2.5 Pro","Gemini 3 Pro"]
# AI API - Gemini 视觉模型 (闲鱼)
GEMINI_VL_API_KEY=
GEMINI_VL_API_URL=https://api2.qiandao.mom/v1/chat/completions
GEMINI_VL_MODEL_ID=["gemini-3-pro-preview-h","gemini-2.5-pro-preview-p"]
GEMINI_VL_MODEL_NAME=["Gemini 2.5 Pro","Gemini 3 Pro"]

# AI API - Qwen
QWEN_API_KEY=
QWEN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
QWEN_MODEL_ID="qwen3-max"
QWEN_MODEL_NAME="Qwen 3 Max"
# AI API - Qwen视觉模型
QWEN_VL_API_KEY=
QWEN_VL_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
QWEN_VL_MODEL_ID="qwen3-vl-plus"
QWEN_VL_MODEL_NAME="Qwen 3 Plus"

# AI API - DeepAI
DEEPAI_API_KEY=
DEEPAI_API_URL=https://mingai-deepai.zeabur.app/v1/chat/completions
DEEPAI_MODEL_ID=["deepglm-high","deepglm-low","deepgeminipro-low","deepgeminipro-high","deepqwen"]
DEEPAI_MODEL_NAME=["DeepGLM Pro","DeepGLM","DeepGemini Pro","DeepGemini Ultra","DeepQwen"]